.ir-arriba {
  display:none;
  padding:7px;
  background: LightCoral;
  font-size:20px;
  color:white;
  cursor:pointer;
  position: fixed;
  bottom:15px;
  right:25px;
  z-index: 3;
}

body {
  font-family: sans-serif;
}